.b5 {
  background-image:linear-gradient(rgb(213, 109, 109),rgb(123, 123, 181));
  background-size: cover;
  background-position: center;
  height: 100vh; /* Set the height to 100vh to cover the entire viewport height */
  display: flex; /* Add flex to align content in the center */
  justify-content: center; /* Align content horizontally in the center */
  align-items: center; /* Align content vertically in the center */
}


